<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  
  <div class="container">
    <div *ngIf="notification" class="notification" [ngClass]="notificationType">
      <div class="notification-icon">
        <i *ngIf="notificationType === 'success'" class="fa fa-check-circle"></i>
        <i *ngIf="notificationType === 'error'" class="fa fa-times-circle"></i>
      </div>
      <div class="notification-message">
        {{ notification }}
      </div>
    </div>
    <div class="task-header">
        <h2 class="task-title">Task List</h2>
        <div class="filters">
            <input 
              type="text" 
              class="filter-input" 
              placeholder="Search" 
              [(ngModel)]="searchQuery" 
              (input)="searchTasks()" 
            />
          
            <select class="filter-select" [(ngModel)]="selectedStatus" (change)="filterTasks()">
              <option value="">Status</option>
              <option value="pending">pending</option>
            <option value="In Progress">In Progress</option>
            <option value="Completed">Completed</option>
            </select>
        </div>
    </div>
    
    <div class="task-card-list">
      <div
        class="task-card"
        *ngFor="let task of tasks"
        draggable="true"
        (dragstart)="onDragStart($event, task)"
        (dragover)="onDragOver($event)"
        (drop)="onDrop($event, task)"
      >
        <div class="task-card-header">
          <h3 class="task-title">{{ task.title }}</h3>
          <span [class]="getStatusClass(task.status)" class="task-status">{{ task.status }}</span>
        </div>
    
        <div class="task-details">
          <p><strong>Assigned To:</strong> {{ task.assignedTo }}</p>
          <p><strong>Assigned User:</strong> {{ task.assignedUser }}</p>
          <p><strong>Estimate:</strong> {{ task.estimate }} hrs</p>
          <p><strong>Time Spent:</strong> {{ task.timeSpent }} hrs</p>
        </div>
    
        <div class="task-actions">
          <button class="edit-btn" (click)="editTask(task)">
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
          <button class="delete-btn" (click)="deleteTask(task.id)">
            <i class="fa-solid fa-trash-can"></i>
          </button>
        </div>
      </div>
    </div>
    
  
  
    <div class="button-container">
      <button class="add-project-btn" (click)="openAddTaskModal()">Add Task</button>
    </div>
  
  
    <div class="modal" *ngIf="showModal">
      <div class="modal-content">
        <span class="close" (click)="showModal = false">&times;</span>
        <h3>{{ isEditing ? 'Edit Task' : 'Add New Task' }}</h3>
  
        <form #taskForm="ngForm" (ngSubmit)="onsubmit(taskForm)">
          <label>Title</label>
          <input type="text" [(ngModel)]="taskData.title" name="title" required #title="ngModel"/>
          <span  *ngIf="title.invalid && (title.touched || submitted)" class="error">Title is required</span>
  
          <label>Assigned To</label>
          <input type="text" [(ngModel)]="taskData.assignedTo" name="assignedTo" required #assignedTo="ngModel" />
          <span *ngIf="assignedTo.invalid && (assignedTo.touched || submitted)" class="error">Assigned To is required</span>
  
          <label>Status</label>
          <select [(ngModel)]="taskData.status" name="status">
            <option value="pending">pending</option>
            <option value="In Progress">In Progress</option>
            <option value="Completed">Completed</option>
          </select>
  
  
          <label>Assigned User</label>
          <input type="text" [(ngModel)]="taskData.assignedUser" name="assignedUser" required #assignedUser="ngModel"/>
          <span *ngIf="assignedUser.invalid && (assignedUser.touched || submitted)" class="error">Assigned User is required</span>
  
          <label>Estimate</label>
          <input type="number" [(ngModel)]="taskData.estimate" name="estimate" required #estimate="ngModel" />
          <span *ngIf="estimate.invalid && (estimate.touched || submitted)" class="error">Estimate time is required</span>
  
          <label>Time Spent</label>
          <input type="number" [(ngModel)]="taskData.timeSpent" name="timeSpent" #timeSpent="ngModel" required/>
          <span *ngIf="timeSpent.invalid && (timeSpent.touched || submitted)" class="error">TimeSpent time is required</span>
  
          <button type="submit" >{{ isEditing ? 'Update Task' : 'Add Task' }}</button>
        </form>
      </div>
    </div>
  
  </div>
</body>
</html>


