<nav class="navbar">
  <div class="logo">Project Manager</div>

  <div class="hamburger" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <ul class="nav-links" [ngClass]="{ 'active': isMenuOpen }">
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/project">Projects</a></li>
    <li><a routerLink="/task">Tasks</a></li>
  </ul>

  <div class="navbar-actions">
    <h4 class="username">Hi, {{ loggedInUser }}</h4>
    <div class="dark-toggle">
      <label class="switch">
        <input type="checkbox" [checked]="isDarkMode" (change)="toggleTheme()">
        <span class="slider round"></span>
      </label>
      <span class="mode-label">{{ isDarkMode ? 'Dark Mode' : 'Light Mode' }}</span>
    </div>
    
    <button class="logout-btn" (click)="logout()">Logout</button>
  </div>
</nav>

<router-outlet></router-outlet>
